#box1{
    border:5px solid;
    width:250px;
    height:250px;
    font-size: 22px;
    background: lightgreen;
    padding: 5px;
    margin-left: auto;
}
#box2{
    border:5px solid;
    width:250px;
    height:250px;
    font-size: 22px;
    background: lightpink;
    padding: 5px;
    margin-right: auto;
}