a:link{
    color: aquamarine;
}
a:visited{
    color:palevioletred;
}
a:hover{
    color: yellowgreen;
}
a:active{
    color: blue;
}
button:hover{
    background-color: red;
}
button:active{
    background-color: blueviolet;
}
li:nth-child(3n){
    background-color: aqua;
}